<div class="container py-4">
    <div class="mb-3 mx-auto w-50">
      <label for="" class="form-label">ID</label>
      <input type="text" disabled ng-model="inputValue.id" class="form-control" >
     
    </div>

    <div class="mb-3 mx-auto w-50">
      <label for="" class="form-label">Name</label>
      <input type="text" disabled ng-model="inputValue.name" class="form-control" >
     
    </div>

    <div class="mb-3 mx-auto w-50">
      <label for="" class="form-label">Loại</label>
      <input type="text" disabled ng-model="inputValue.loai" class="form-control" >
    </div>

    <div class="mb-3 mx-auto w-50">
      <label for="" class="form-label">Giá</label>
      <input type="text" disabled ng-model="inputValue.price" class="form-control" >
    </div>

    <div class="d-flex justify-content-center">
        <a href=""><button class="btn btn-primary">Sửa</button></a>
      <a href="#!/list"><button class="btn btn-warning">Quay lại</button></a>
    </div>
</div>